<div class="row {% if small %}m-3{% else %}m-2{% endif %} bordered">
    <div class="{% if small %}col-3{% else %}col-4{% endif %}" style="padding-left: 0px !important;">
        <a href="{{ highlight.cropped_imagel }}" data-lightbox="image-{{ highlight.date|date:"Y-m-y" }}" data-title="{{ highlight.title }}">
            <img src="{{ highlight.cropped_image }}" loading="lazy" width="100%">
        </a>
    </div>
    <div class="{% if small %}col-9{% else %}col-8{% endif %}">
        <h3 class="my-2 my-lg-3">{{ highlight.title }}</h3>
        <div class="p-1">
            <div class="row">
                <div class="col-6">
                    <i class="far fa-calendar"></i> {{ highlight.date|date:"d F Y" }} 
                </div>
                <div class="col-6">
                    <i class="fa fa-map-location-dot"></i> {{ highlight.location }}<br>
                </div>
            </div>
        </div>
        <p class="short d-none">{{ highlight.description|safe|truncatechars:300 }} {% if highlight.description|length > 300 %}- <a onclick="showMore(this)"><strong>Mehr lesen &raquo;</strong></a>{% endif %}</p>
        <p class="long">{{ highlight.description|safe }}</p>
    </div>
</div>