<div class="row {% if small %}m-3{% else %}m-2{% endif %} bordered">
    <div class="col-md-7 col-lg-5 col-xl-3" style="padding-left: 0px !important;">
        <a href="{{ highlight.image.url }}" data-lightbox="image-{{ highlight.date|date:"Y-m-y" }}" data-title="{{ highlight.title }}">
            <div style="background-image: url({{ highlight.cropped_image }});" class="image"></div>
        </a>
    </div>
    <div class="col-md-5 col-lg-7 col-xl-9">
        <h3 class="my-2 my-lg-3">{{ highlight.title }}</h3>
        <div class="p-1">
            <div class="row">
                <div class="col-6">
                    <i class="far fa-calendar"></i> {{ highlight.date|date:"d F Y" }} 
                </div>
                <div class="col-6">
                    <i class="fa fa-map-location-dot"></i> {{ highlight.location }}<br>
                </div>
            </div>
        </div>
        <p class="short d-none">{{ highlight.description|safe|truncatechars:300 }} {% if highlight.description|length > 300 %}- <a onclick="showMore(this)"><strong>Mehr lesen &raquo;</strong></a>{% endif %}</p>
        <p class="long">{{ highlight.description|safe }}</p>
    </div>
</div>